
/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --black: #1a1a1a;
    --white: #fff;
    --gray: #ccc;
    --darkgreen: rgb(24, 119, 132);
    --blue1: #e4ece5;
    --blue2: #c0ccd1;
    --lightbrown: antiquewhite;
    --darkblack: rgba(0,0,0,0.8);
    --minImgWidth: 280px; /* width rows auto calcul */
  }
  
  * {
    margin: 0;
    padding: 0;  
    outline: none;
    border: none;
  }
  
  /* body, html {
    overflow-x: hidden;
  } */

  button {
    cursor: pointer;
    background: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
  }
  
  .gallery {
    padding-top: 150px;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .containerGallery {
    margin-top: 40px !important;
  }

  .imgFolder {
    cursor: pointer;
  }

  .imgFolder:hover {
    border: 1px solid black;
  }

  .divTotal2 {
    position: absolute; 
    z-index: 1;
    left: 20px;
    top: 110px;
    color:grey;
  }

  .d-none {
    display: none;
  }

  .BTIconGalleryChoose{
    background-color: darkgreen !important;
  }  
  
  .BTIconGalleryChoose:hover{
    background-color: green !important;
  }

  .imgGridGallery:hover{
    cursor: pointer;
    border: solid 1px black;
  }
  
  
  /* TOOLBAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 35px;
    right: 120px;
  }
  
  .toolbar .search-wrapper {
    position: relative;
  }
  
  .toolbar input[type="search"] {
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }
  
  .toolbar ::placeholder {
    color: var(--gray);
  }
  
  .toolbar .counter {
    position: absolute;
    left: 0;
    top: calc(100% + 155px) !important;
    font-size: 0.9rem;
    color: var(--gray);
    z-index: 99 !important;
  }

  .toolbarRange {
    position: fixed;
    left: 0;
    top: 105px !important;
    font-size: 0.9rem;
    color: var(--gray);
    z-index: 99 !important;
  }

  .counterTotalDiv{
    z-index: 1 !important;
    position: absolute !important;
    /* position: absolute !important; */
    /* padding-top: 80px !important; */
    background-color: red;
    top: 10px;
    left: 100px;
  }

  .counterNavbar {
    color: white !important;
  }
  
  .view-options {
    display: flex;
    align-items: center;
  }
  
  .view-options li:not(:last-child) {
    margin-right: 1.2rem;
  }
  
  .view-options button {
    padding: 2px;
    border: 3px solid transparent;
  }
  
  .view-options .active button {
    border-color: var(--blue1);
  }

  .cancel{
    margin-left: 40px;
    padding-left: 40px;
    display: none;
  }

  .backEdit{
    background-color: var(--darkgreen) !important;
    color: white !important;
    font-weight: bold !important;
  }

  .backEdit:hover{
    background-color: #009CB6 !important;
  }
  
  
  /* IMAGE LIST
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .image-list {
    margin: 3rem 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  
  .image-list li {
    background: var(--blue2);
    color: var(--darkblack);
  }
  
  .image-list p:first-child {
    font-weight: bold;
    font-size: 1.15rem;
  }
  
  .image-list p:last-child {
    margin-top: 0.5rem;
  }
  
  
  /* GRID VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--minImgWidth), 1fr));
    margin-top: 88px;
  }
  
  .grid-view figcaption {
    padding: 1rem;
  }
  
  .figcaption{
    font-size: 0.9em !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .figcaptionM{
    font-size: 0.9em !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .figcaptionP{
    font-size: 0.9em !important;
    /* width: 30px;
    border: solid 1px black; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
  }

  .totImgSpan{
    font-size:20px;
    color:white;
  }
  
  .iconEdit{
    position:absolute; 
    z-index:3;
    top: 0px; 
    right: 0px;
    width:25px;
    height:25px;
    opacity: 0.6;
  }

  .iconEdit:hover{
      opacity: 1;
      cursor: pointer;
      border: solid 2px darkgreen;
  }

  .iconDelete{
    position:absolute; 
    z-index:3;
    top: 0px; 
    left: 0px;
    width:25px;
    height:25px;
    opacity: 0.6;
    border: solid 2px white;
    background-color: darkgray;
  }

  .iconDelete:hover{
    opacity: 1;
    cursor: pointer;
    border: solid 2px red;
    background-color: black;
    color: red;
  }

  /* LIST VIEW
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .list-view li + li {
    margin-top: 1.5rem;
  }
  
  .list-view figure {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 150px 1fr;
    align-items: center;
  }

  .list-view {
    margin-top: 88px;
  }
  
  
  /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .div_header {
    padding-right: 50px;
    padding-left: 50px;
    font-weight: bolder;
  }

  .div_header_right {
    z-index: 1px;
    position: fixed;
    top: 0;
    right: 0;
    /* padding-top: 5px; */
    /* padding-bottom: 2vh; */
    /* color: white; */
    /* font-size: 0.7rem; */
    margin: 0px;
    padding: 0px;
    padding-right: 35px;
    /* padding-left: 50px; */
    /* font-weight: bolder; */
    color: var(--blue2);
    text-decoration: none !important;
  }

  .div_header_right:hover {
    color: var(--blue2);
    text-decoration: none !important;
  }

  .div_header_right>a:link {
    text-decoration: none !important;
    color: var(--blue2);
  }
  
  .div_header_right>a:visited {
    text-decoration: none !important;
    color: var(--blue2);
  }
  
  .div_header_right>a:hover {
    text-decoration: none !important;
    color: var(--blue2);
  }
  
  .div_header_right>a:active {
    text-decoration: none !important;
    color: var(--blue2);
  }

  header {
    z-index: 1;
    font-size: 1rem;
    /* padding: 0 1.5rem; */
    text-align: left;
    background-color: black;
    position: fixed;
    top: 0;
    color: white;
    /* max-width: 98%; */
    /* margin-top: 40px; */

    padding-top: 2vh;

    padding-bottom: 2vh;
    margin-bottom: 10px;


    width: 100%;
  }
  
  header span {
    color: #e31b23;
  }
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .div_footer {
    /* padding-right: 50px; */
    /* padding-left: 50px; */
    margin-top: 3px;
    margin-bottom: 2px;
  }

  footer {
    z-index: 1;
    font-size: 1rem;
    text-align: right;
    padding-right: 50px !important;
    background-color: var(--blue2);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    /* display: none; */
  }
  
  footer span {
    color: #e31b23;
  }

  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 767px) {
    .toolbar input[type="range"] {
      display: none;
    }
    /* header{
      background-color: green !important;
    } */
  }
  
  @media screen and (max-width: 700px) {
    .grid-view li {
      text-align: center;
      padding: 0.5rem;
    }
    
    .grid-view figcaption {
      padding: 0.5rem 0 0;
    }
  }

  @media (max-width: 650px) {
    .toolbar {
        top: 20px;
        right: 125px;
    }

    .divTotal2 {
      left: 35px;
      top: 105px;
    }

      .grid-view {
        margin-top: 175px;
      }

      .list-view {
        margin-top: 175px;
      }

      .image-list {
        /* padding-left:15px !important; */
        /* padding-right: 0px !important; */
      }

      .figcaption{
        font-size: 0.85em !important;
      }

      .iconEdit{
        width:35px;
        height:35px;
        font-weight: bold;
      }

      .iconDelete{
        width:35px;
        height:35px;
        font-weight: bold;
      }


  }
  
/* 
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  



  /* //CSS */
  /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .div_header {
    font-size: 2vh !important;
    /* color:red !important; */
    /* background-color: green !important; */
  }

  .div_header_right {
    /* font-size: 4vh !important; */
        font-size: 32px !important;
        margin: 10px;
        padding: 10px;
  }

  header{
    /* background-color: green !important; */
    /* padding-bottom: 2vh; */
    /* margin-bottom: 30px; */
    /* height: 46px; */
  }



}

/* 
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  ##Device = Mobile (Landscape)
  ##Screen = ..This orientation media query. In to this orientation media query you can specify more about CSS code for landscape view.
*/

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {

  .div_header {
    font-size: 4vh !important;
    /* color:red !important; */
    /* background-color: green !important; */
  }

  .div_header_right {
    font-size: 4vh !important;
  }

}


/* -------------------------------- 

  ## xpopup 

-------------------------------- */

.btPopupYES{
  text-decoration: none !important;
}

.btPopupNO{
  text-decoration: none !important;
}

.cd-popup {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.8);
  opacity: 0;
  display: none;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  top: 30vh !important;
  /* position: relative; */
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background:white;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color:red;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: darkcyan;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

@media (max-width: 650px) {
  .cd-popup-container {
    top: 100px !important;
  }
}
